<div class="back-img">
<h1>投稿一覧</h1>
<% @articles.each do |article| %>
  <p>タイトル</p>
   <span><%=link_to article.title, "/articles/#{article.id}" %></span>
<% end %>
<br>
<br>
<%= link_to "新しく投稿", :controller => "articles", :action => "new", class: "btn new-btn" %>
</div>