<html>
<head>
	<title>タイトル</title>
</head>
<body>
<div id="container2">
	<div class="back-img1">
		<div id="contents">
			<div class="parent">
				<div class="center">
	<h1>投稿一覧</h1>
	<% @articles.each do |article| %>
	  <p>タイトル</p>
   	<span><%= link_to article.title, "/articles/#{article.id}" %></span>
   	<br>
   	<%= link_to "編集", edit_article_path(article.id), class: "btn edit-btn" %>
   	<%= link_to "削除", article_path(article.id), method: :delete  %>
   	<br>
<% end %>
<br>
<br>
<%= link_to "新しく投稿", :controller => "articles", :action => "new", class: "btn new-btn" %>
				</div>
			</div>
		</div>
		<div id="footer">
		</div>
	</div>
</div>
</body>
</html>