	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE></TITLE>
</HEAD>
<BODY>
<!--<div class="center">-->

<!--<%= image_tag 'dog.jpg' %> -->
<%= image_tag("dog.jpg", :class => "profile-img") %>
<h1 class="top-name">Natsuka Yabusaki</h1>
<p>
	
</p>

<!--</div>-->
</BODY>
</HTML>