	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE></TITLE>
</HEAD>
<BODY>
<!--<div class="center">-->

<div class="back-img">
<!--<%= image_tag 'dog.jpg' %> -->
<%= image_tag("dog.jpg", :class => "profile-img") %>
<h1>TOPページ</h1>
<h2">Natsuka Yabusaki</h2>

<%= link_to "投稿一覧へ", :controller => "articles", :action => "index" %>
<p>
	
</p>
</div>
<!--</div>-->
</BODY>
</HTML>