/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*プロフィール画像*/
.profile-img{
	width: 400px;
	height: 300px;
	display: block;
 	margin: 0 auto; 
}

/*h1*/
h1{
	color: white;
	padding-top: 30vh;
}
.top-name{
	text-align: center;
}

/*背景画像*/
.back-img{
	color: white;
	height: 150vh;
	background-image: url(back.jpg); 
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
}
/*背景余白をなくすリセット*/
*{
	margin: 0;
	padding: 0;
}

.scr{
	margin:10px 20px; 
	padding:10px 20px;
}
p.body {
	border-top: double 5px #000;
	border-bottom: double 5px #000;
	
}